@model List<DevFolio.Models.TblProfile>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <div class="about-img">
                <img src="~/Templates/sidebar-01/images/logo.jpg" class="img-fluid rounded b-shadow-a" alt="@item.NameSurname">
            </div>
        </div>
        <div class="col-sm-6 col-md-7">
            <div class="about-info">
                <p><span class="title-s">@item.NameSurname</span></p>
                <p><span>@item.Title</span></p>
                <p><span class="title-s">Email: </span> <span>@item.Email</span></p>
                <p><span class="title-s">Telefon: </span> <span>@item.Phone</span></p>
            </div>
        </div>
    </div>
}
